<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <link rel="stylesheet" href="/css/authorization.css"/>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Система формирования заявок на предприятии "АБЦ"</h1>



<section  class="authorization">
    <h1>Авторизация</h1>
    <form th:action="@{/}" th:authentication-success-handler-ref="authSuccessHandler" method="post">
        <div class="allDiv">
            <div class="input"><input type="text" onkeyup="checkParams()" id="username" name="username" placeholder="Логин"></div>
            <div class="input"><input type="password" onkeyup="checkParams()" id="password" name="password" placeholder="Пароль"></div>
        </div>
        <div class="btn">
            <input type="submit" id="asubmit" class="buttonAuth" value="Авторизоваться" >
        </div>
    </form>

</section>

<a href="/registration">registration</a>
<a href="/adminn">Переход</a>


</body>
</html>