
<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/registration.css"/>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://unpkg.com/imask"></script>


</head>
<body>



<section  class="booking">
    <h3 >Регистрация</h3>
    <!--action="/Registration" th:action="@{/Registration}" -->
    <form th:action="@{/registration}" method="post">
        <div class="allDiv">
            <div class="wrap"><input type="text" onkeyup="checkParams()" id="username" name="username" placeholder="Логин"></div>
            <div class="wrap"><input type="password" onkeyup="checkParams()" id="password" name="password" placeholder="Пароль"></div>
            <!-- <div class="wrap"><input type="password" onkeyup="checkParams()" id="passwordConfirm" name="passwordConfirm" placeholder="Подтвердите пароль"></div> -->
        </div>
        <div class="btn">
            <input type="submit" id="submit" class="glow-button" value="Зарегистрироваться">
        </div>
    </form>
</section>


<section>
    <div class="allStaffs">
        <h1>Редактировать сотрудника</h1>
        <div>
            <div>
                <div class="c1">
                    <div class="staffReq1">name</div>
                    <div class="staffReq1">rusName</div>

                </div>
                <div>

                    <form  method="post">
                        <div  th:each="el : ${post}" class="c1">
                            <div class="staffReq"><input type="text"  th:value="${el.name}"     id="name" name="name" placeholder="name"></div>
                            <div class="staffReq"><input type="text"  th:value="${el.rusName}" id="rusName" name="rusName" placeholder="rusName"></div>

                        </div>
                        <form th:action="@{/admin-t}" method="post" >
                            <button class="btnUpdateStaff" type="submit" id="btnUpdateStaff" >Обновить</button>
                        </form>
                    </form>
                    <button class="btnBack" onclick="document.location='/admin'">Назад</button>
                </div>
            </div>

        </div>
    </div>
</section>


<div class="footer">
    <p> &copy; Санаторий профилакторий "Озеро Глухое" 2021.</p>
</div>


<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->



</body>

<!-- <footer th:insert="blocks/footer :: footer"></footer> -->


</html>