<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/adminCSS/accountEdit.css"/>
    <title th:text="${'Права доступа'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="">
    <header th:insert="blocksHTML/headerAdmin :: headerAdmin"></header>




</head>
<body>
<section class="sectionRequest">
    <div class="StaffsFilter">
        <h1>Редактировать аккаунт</h1>
        <div class="DivRequest" >
            <div class="request">
                <div class="c1">

                    <div class="staffReq1">Логин</div>
                    <div class="staffReq1">Пароль</div>
                    <div class="staffReq1">Роль</div>

                </div>
                <div class="allDiv">

                    <form  method="post">
                        <div  th:each="el : ${roles}" class="c1">

                            <div class="staffReq"><input type="text"  th:value="${el.username}" onkeyup="checkParams()" id="username" name="username" placeholder="Логин"></div>
                            <div class="staffReq"><input type="text"  th:value="${el.password}" onkeyup="checkParams()" id="password" name="password" placeholder="Пароль"></div>
                            <div class="staffReq"><input type="text"  th:value="${el.account.setRoles}" onkeyup="checkParams()" id="role" name="password" placeholder="Пароль"></div>


                        </div>
                        <form class="wrap" th:action="@{/ccount-edit}" method="post" >
                            <!--   <input type="submit"  id="submit" class="btnDelete" value="Обновить"  > -->
                            <button class="btnUpdate" type="submit">Обновить</button>
                        </form>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

</body>

<div class="footer">
    <p> &copy; "Предприятие "АБЦ"" 2021.</p>
</div>



</html>
