<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/adminCSS/account.css"/>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <header th:insert="blocksHTML/headerAdmin :: headerAdmin"></header>
</head>
<body>

<section class="addNewStaff">
    <h1 >Добавить аккаунт</h1>

    <div class="allDivName">
        <div class="staffsName1">Логин</div>
        <div class="staffsName1">Пароль</div>
        <div class="staffsName1">Роль</div>
    </div>

    <form th:action="@{/admin-account}" th:object="${userForm}" method="post">
        <input type="hidden" th:field="*{id}" th:value="${userForm.id}">
            <div class="allDivName">
                <div>
                    <input  onkeyup="checkParamsAddAccount()" id="username" th:field="*{username}" placeholder="Логин*">

                    <p th:if="${#fields.hasErrors('username')} "
                       th:class="${#fields.hasErrors('username')}? error">Минимальное значение 3 символа</p>
                    <p th:text="${usernameError}"  class="error"></p>
                </div>

                <div>
                    <input type="password" onkeyup="checkParamsAddAccount()" id="password" th:field="*{password}" placeholder="Пароль*">
                    <p th:if="${#fields.hasErrors('password')}"
                       th:class="${#fields.hasErrors('password')}? error">Минимальное значение 3 символа</p>
                </div>

                <input list="characterRoles"  th:field="*{roles}" onkeyup="checkParamsAddAccount()" id="roles" min="1" max="2" size="1"  placeholder="Права доступа*">
                <datalist id="characterRoles" >
                    <option th:each="role : ${listRoles}"
                            th:text="${role.name}"
                            th:value="${role.id}">
                    </option>
                </datalist>
            </div>
        <button class="btnAddAccount" id="btnAddAccount" disabled type="submit">Добавить</button>
    </form>
</section>

<section class="allAccount">

    <h1 >Список аккаунтов</h1>

    <div class="allDivName">
        <div class="staffsName1">Логин</div>
        <div class="staffsName1">Пароль</div>
        <div class="staffsName1">Роль</div>
    </div>


    <div th:each="el : ${allUsers}"   class="request" >
        <div class="allDivName" >
            <div th:text="${el.username}"></div>
            <div th:text="${el.password}"></div>
            <div th:each="role : ${el.roles}" th:text="${role.name}"></div>
        </div>

        <form  th:action="'/admin-account/' + ${el.id} +'/remove'" method="post">
            <button class="btnDelete" type="submit">Удалить</button>
        </form>

    </div>

</section>


<div class="footer">
    <p> &copy; "Предприятие "АБЦ" 2021.</p>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="/js/request.js"></script>
</body>
</html>