<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/adminCSS/admin.css"/>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Страница администратора</h1>


<li class="h" sec:authorize="isAuthenticated()">
    <form  th:action="@{/logout}" method="post">
        <input class="btnSubmit" type="submit" value="Выйти">
    </form>
</li>



<form method="post"  th:action="/adminn">
    <input class="inn" type="hidden" name="filter" placeholder="Поиск по должности" id="position" />
    <select class="inn" th:with="uniqueStaffs=${#sets.toSet(staffs)}"   onchange=document.getElementById('position').value=this.options[this.selectedIndex].value>
        <option disabled selected >Должность</option>

<!--        <option-->
<!--                th:each="staff : ${uniqueStaffs}"-->
<!--                th:value="${staff.position}"-->
<!--                th:text="${staff.position}">-->
<!--        </option>-->

        <option th:each="position : ${positions}"
                th:value="${position}"
                th:text="${position}">
        </option>

    </select>
    <div class="DivRequest1" >
        <button class="btnComment" type="submit">Найти</button>
    </div>
</form>


</body>
</html>