<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:data="http://www.w3.org/1999/xhtml"
      xmlns:data-th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/adminCSS/request.css">

    <title th:text="${'Ответить на заявку'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <header th:insert="blocksHTML/headerAdmin :: headerAdmin"></header>
</head>


<body >

<section class="newRequest">
    <h1 >Ответить на заявку</h1>

    <form  method="post">
        <div th:each="el : ${post}" class="allDivRequest">

            <div class="DivRequest">
                <input class="inn" type="text" th:value="${el.room}" id="roomEdit" name="room" placeholder="№ кабинета">
            </div>

            <div class="DivRequest">
                <input  type="hidden" class="inn" th:value="${el.level}" onkeyup="checkParamsEdit()" name="level" placeholder="Уровень заявки" id="levelEdit" />
                <select class="inn" onchange="document.getElementById('levelEdit').value=this.value">
                    <option value="" disabled selected hidden>Уровень заявки</option>
                    <option value="В течении дня">В течении дня</option>
                    <option value="Срочный">Срочный</option>
                </select>
            </div>

            <div class="DivRequest">
                <input   class="inn" list="characterFromWhom" th:value="${el.fromWhom}" onkeyup="checkParamsEdit()" name="fromWhom" placeholder="От кого заявка" id="fromWhomEdit" />
                <datalist id="characterFromWhom" >

                    <option th:each="position : ${positions}"
                            th:value="${position}"
                            th:text="${position}">
                    </option>
                </datalist>
            </div>

            <div class="DivRequest">
                <input   class="inn" list="characterToWhom" th:value="${el.toWhom}" onkeyup="checkParamsEdit()" name="toWhom" placeholder="Кому заявка" id="toWhomEdit" />
                <datalist id="characterToWhom" >

                    <option th:each="position : ${positions}"
                            th:value="${position}"
                            th:text="${position}">
                    </option>
                </datalist>
            </div>

            <div class="DivRequest">
                <input  type="hidden" class="inn" th:value="${el.status}" onkeyup="checkParamsEdit()" name="status" placeholder="Статус" id="statusEdit" />
                <select class="inn" id="statusEditS" onchange="document.getElementById('statusEdit').value=this.value">
                    <option value="" disabled selected hidden>Статус заявки</option>
                    <option value="Выполнено">Выполнено</option>
                    <option value="На выполнении">На выполнении</option>
                    <option value="Не выполнено">Не выполнено</option>
                </select>
            </div>

            <div class="DivRequest">
                    <input  list="characterName" class="inn" th:value="${el.name}" name="name" id="nameEdit" placeholder="ФИО">
                    <datalist id="characterName" >
                    <option
                            th:each="staff : ${staffs}"
                            th:value="${staff.lname}+ ' ' +${staff.fname}+ ' ' +${staff.pname}"
                            th:text="${staff.lname}+' '+${staff.fname}+' '+${staff.pname}">
                    </option>

                     </datalist>
            </div>


            <div class="DivRequest">
                <textarea  class="size" name="text" onkeyup="checkParamsEdit()" id="textEdit" placeholder="Описание проблемы" th:text="${el.text}"></textarea>
            </div>
            <div class="DivRequest">
                <textarea  class="size" name="comment"  id="textCommentEdit" placeholder="Оставить комментарий" th:text="${el.comment}"></textarea>
            </div>

            <form th:action="@{/admin-request}" method="post" >
                <input type="submit"  id="submitEdit" class="btnEditRequest" disabled value="Ответить"  >
            </form>

        </div>
    </form>
        <button class="btnBack" onclick="document.location='/admin-request'">Назад</button>

</section>



<div class="footer">
    <p> &copy;  "Предприятие "АБЦ" 2021.</p>
</div>



<script src="/js/request.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>


</body>

>


</html>