<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/adminCSS/staffEdit.css"/>
    <title th:text="${'Редактировать сотрудника'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="">
    <header th:insert="blocksHTML/headerAdmin :: headerAdmin"></header>




</head>
<body>
<section class="sectionRequest">
    <div class="StaffsFilter">
        <h1>Редактировать сотрудника</h1>
        <div class="DivRequest" >
            <div class="request">
                <div class="c1">

                    <div class="staffReq1">Фамилия</div>
                    <div class="staffReq1">Имя</div>
                    <div class="staffReq1">Отчество</div>
                    <div class="staffReq1">Должность</div>
                </div>
                <div class="allDiv">

                    <form  method="post">
                        <div  th:each="el : ${post}" class="c1">
                            <div class="staffReq"><input type="text"  th:value="${el.lname}"    onkeyup="checkParamsUpdateStaffInAdmin()" id="lname" name="lname" placeholder="Имя"></div>
                            <div class="staffReq"><input type="text"  th:value="${el.fname}"    onkeyup="checkParamsUpdateStaffInAdmin()" id="fname" name="fname" placeholder="Фамилия"></div>
                            <div class="staffReq"><input type="text"  th:value="${el.pname}"    onkeyup="checkParamsUpdateStaffInAdmin()" id="pname" name="pname" placeholder="Отчество"></div>
                            <div class="staffReq"><input type="text"  th:value="${el.position}" onkeyup="checkParamsUpdateStaffInAdmin()" id="position" name="position" placeholder="Должность" list="positionStaff"></div>
                            <datalist id="positionStaff" >
                                <option th:each="staff : ${positions}"
                                        th:value="${staff}"
                                        th:text="${staff}">
                                </option>
                            </datalist>
                        </div>
                        <form class="wrap" th:action="@{/AllStaff}" method="post" >
                            <button class="btnUpdateStaff" type="submit" id="btnUpdateStaff" disabled>Обновить</button>
                        </form>
                    </form>
                    <button class="btnBack" onclick="document.location='/admin'">Назад</button>
                </div>
            </div>

        </div>
    </div>
</section>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="/js/request.js"></script>

</body>

<div class="footer">
    <p> &copy; "Предприятие "АБЦ"" 2021.</p>
</div>



</html>
